{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export":"off",
        "react/jsx-no-constructed-context-values": "off",
        "react/jsx-no-useless-fragment":"off",
        "react/prop-types":"off",
        "react/function-component-definition":"off",
        "no-unused-vars":"off",
        "react/destructuring-assignment":"off",
        "no-console": "off",
        "arrow-body-style":"off",
        "no-param-reassign":"off",
        "no-nested-ternary":"off",
        "no-shadow":"off",
        "no-alert":"off",
        "jsx-a11y/alt-text":"off",
        "no-unused-expressions":"off"

    }
}
