{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "quotes":"off",
        "no-console":"off",
        "no-alert":"off",
        "react/jsx-no-constructed-context-values":"off",
        "react/react-in-jsx-scope":"off",
        "import/no-named-as-default":"off",
        "react/destructuring-assignment":"off",
        "react/prop-types":"off",
        "react/jsx-no-useless-fragment":"off",
        "no-unused-expressions":"off",
        "no-param-reassign":"off",
        "no-shadow":"off",
        "no-nested-ternary":"off",
        "jsx-a11y/alt-text":"off"
    }
}
